<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="filePath" value="D:\CODING 2021\Software Engineering\EECS3550Project\TextFileData"/>
  </appSettings>
  <connectionStrings>
    <add name="Air3550DB" connectionString="Server=(LocalDB)\ProjectsV13;Database=Air3550DBv2;Trusted_Connection=True;" providerName ="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>